<article>
	<header>
		<h1>Hello, <%= name %></h1>
		<p><%= text %></p>
		<p><a href="https://www.ugo.ca">Click here to get UGO</a></p>
	</header>
	<section>
		<h2>This is a dummy header</h2>
		<p>And in this section, I can put whatever I want because I am super cool and awesome</p>
	</section>
</article>
		
	<aside>
		<h3>BOGO!!!</h3>
		<p>If you use UGO to pay for your purchase today, all items under $5.00 are Buy One Get One free.</p>
		<p>
		<img align="center" src="https://www.ugo.ca/dist/images/ugo-wallet.svg">
	</aside>