.sprite-fish{width:368px;height:113px;background:url(/images/drawings-colour-1d4c11707ce77b3709244e4dc6db9ee3.png) 0px -162px no-repeat}
.sprite-lobster{width:256px;height:420px;background:url(/images/drawings-colour-1d4c11707ce77b3709244e4dc6db9ee3.png) -368px -8px no-repeat}
.sprite-peas{width:91px;height:437px;background:url(/images/drawings-colour-1d4c11707ce77b3709244e4dc6db9ee3.png) -624px 0px no-repeat}
.sprite-wisk{width:229px;height:72px;background:url(/images/drawings-colour-1d4c11707ce77b3709244e4dc6db9ee3.png) -715px -182px no-repeat}

body,html{background:url(/images/bg-kraft-lightest-7f32692bf22a35d1a0597ecfe7bb9be4.jpg);margin:0;padding:0}a{color:black;text-decoration:none;border-bottom:1px solid}a:hover{color:#3d8931;border-bottom:1px solid rgba(255,255,255,0)}

body,html,h1,h2,h3,h4,h5,h6{font-family:'Archer SSm 5r', 'Archer SSm A', 'Archer SSm B';font-weight:500;font-style:normal;-webkit-font-smoothing:antialiased;margin:0}